*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color:rgb(109, 186, 198);
}
.banner{
    width: 100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(32, 14, 104, 0.75)),url(../images/backgroundimg.png);
    background-size: cover;
    background-position: center;
}

#mainHeader{
    width: 75%;
    margin: 10px 10px 10px 10px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    width: 110px;
}
.logoandtext{
    padding: 10px 10px 35px 0px;
    display: flex;
    flex-direction: column;
    width:110px;
    height:90px;
    align-items: center;
}
#logotitle{
    text-align: center;
    font-size:13px;
    margin: 0;
    color: white;
}
.mainNav{
    display: flex ;
}
#mainHeader ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
    position: relative;
}
#mainHeader ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;

}

#mainHeader ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #089ea8;
    position : absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}
#mainHeader ul li:hover::after{
    width: 100%;
}

#pageContent{
    width: 100%;
    position: absolute;
    top:30%;
    text-align: center;
    color:white;
}
#indexh1{
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 30px;
}
#indexh1 + p{
    font-size: 20px;
    margin: 20px auto;
    line-height: 25px;
}
#pageContent button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    
}

#pageContent main #frmContact .inputfield{
    margin: 10px 150px 10px 150px ;
}

#pageContent main #frmContact .inputfield label{
    width: 200px;
    color: #fff;
    margin-right: 10px ;
    font-size: 20px;
}

#pageContent main #frmContact .inputfield input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
#pageContent main #frmContact .inputfield textarea{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;}

/*----------------------------------------------------------*/
.top{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
.wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
     
 
}
.box{
    background: gray;
    border-radius: 10px;
}
img{
    width:100%;
    height: 300px;
}
a{
    display: flex;
    margin: 5px;
 
     
    position: relative;
    text-decoration: none;
    font-size:15px;
    color:#fff;
    padding: 5px;
}

.text{
    text-align: center;
    color:#fff;
}
p{
    font-size:20px;
}
/*------------------------------------*/
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }

/*---------------------------------------*/
.mainFooter{
    background:rgb(13, 118, 144);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    }
.mainFooter p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #fff;
    }
